
*{
  margin: 0 auto;
  box-sizing: border-box;
}
:root{
  --cor0: #FAF7FD;
  --cor1: #BB99DD;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-color: var(--cor0);
  height: 1000px;
}


/*CONTORNO DO PERFIL*/
.circulo{
  
  width: 300px;
  height: 150px;
  margin-top: 50px;
  
}
p{
  color: var(--cor1);
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: 'Bebas Neue', cursive;
}
h3{
  color: var(--cor1);
  text-align: center;
  font-weight: bold;
  padding: 7px;
  font-family: 'Bebas Neue', cursive;
}

/*LINK'S*/
.link1{
  border: 3px solid var(--cor1);
  width: 370px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 8px;
  
}
.link2{
  border: 3px solid var(--cor1);
  width: 370px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.link3{
  border: 3px solid var(--cor1);
  width: 370px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.link4{
  border: 3px solid var(--cor1);
  width: 370px;
  height: 45px;
  margin-bottom: 55px;
  border-radius: 8px;
  
}

/*ASSETS*/
.assets{
  width: 400px;
  
}


/* ASSETS IMAGEM 1 */
.img1{
  margin-left: 60px;
  margin-right: 35px;
}
/* ASSETS IMAGEM 2 */
.img2{
  margin-right: 35px;
}

/* ASSETS IMAGEM 3 */
.img3{
  margin-right: 35px;
}

/* ASSETS IMAGEM 4 */
.img4{
  margin-right: 35px;
}

/* ASSETS IMAGEM 5 */
.img5{
  margin-right: 35px;
}






/* ANCORAGEM*/
a{
  text-decoration: none;
}



